<h1><%= question_header(@question.test) %></h1>

<%= render 'form' %>

<p>
  <%= link_to 'Back',  test_path(@question.test) %> |
  <%= link_to 'New',    new_test_question_path(@question.test) %> |
  <%= link_to 'Show',   question_path(@question) %>
</p>