<h2> <%= @question.test.title %> question </h2>

<p> <%= @question.body %> </p>

<p>
  <%= link_to 'Back', test_path(@question.test) %> |
  <%= link_to 'New', new_test_question_path(@question.test) %> |
  <%= link_to 'Edit', edit_question_path(@question) %>
</p>
