<h1><%= t('.header') %>:</h1>

<p>
  <td><%= link_to t('.new_link'), new_admin_test_path %></td>
</p>

<%= render 'shared/errors', resource: @test %>

<table class="table">
  <tr>
    <th class="sort-by-title pointer mt-3">
      <%= t('.title') %>
      <%= octicon 'arrow-up', class: 'text-success hide' %>
      <%= octicon 'arrow-down', class: 'text-success hide' %>
    </th>
    <th><%= t('.level') %></th>
    <th><%= t('.questions') %></th>
    <th colspan="4"><%= t('.actions') %></th>
  </tr>

  <%= render @tests %>

</table>
