<h2>Test <%= @test.id %></h2>

<p><strong>Title: </strong> <%= @test.title %> </p>
<p><strong>Level: </strong> <%= test_level(@test.level) %></p>

<table>
  <tr>
    <th>Question</th>
    <th colspan="4">Action</th>
  </tr>
  <%= render partial: 'questions/question', collection: @test.questions %>
</table>

<%= link_to 'Back', admin_tests_path %> |
<%= link_to 'Edit', edit_admin_test_path(@test) %>