<h2>Test <%= @test.id %></h2>

<p><strong>Title: </strong> <%= @test.title %> </p>
<p><strong>Level: </strong> <%= test_level(@test.level) %></p>

<p><%= render 'questions/question' %></p>

<%= link_to 'New test', new_test_path %> |
<%= link_to 'Back', tests_path %> |
<%= link_to 'Edit', edit_test_path(@test) %>