<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/nav' %>

    <%= render 'shared/flash' %>

    <%= yield %>

    <%= render 'shared/footer' %>
  </body>
</html>
